*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    --black:#202024;

    --gray: #E1E1E6;

    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;

}

main {
    display: flex;
    justify-content: center;
    background-color: #121214;
    height: auto;
    min-height: 100vh;
}

.container {
    background: url(../images/background.svg) no-repeat center/cover;
    width: 650px;
    height: 812px;
    text-align: center;
    color: var(--gray);
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    color: var(--gray);
    text-decoration: none;
    margin-top: .25rem;
    display: flex;
    justify-content: center;
    gap: .75rem;
    align-items: center;
}

p {
    margin-top: 2rem;
    text-align: center;
}

ul {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    gap: .5rem;
    justify-content: center;
}

#faixa {
    display: none;
}

@media only screen and (min-width:650px) {

    main {
        background: url(../images/degrades.svg) no-repeat center/cover;
        background-color: #121214;
    }
    
    .container {
        background: url(../images/desktop.svg) no-repeat center/cover;
        height: 540px;
        width: 358px;
        position: relative;
        margin-top: 140px;
        
    }

    .avatar {
        margin: 4.5rem auto 0;
    }

    #faixa {
        display: block;
        width: 64px;
        height: 158px;
        position: absolute;
        z-index: 1;
        top: 0;
        background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
    }


}